@using Microsoft.AspNetCore.Identity
@using NetflixAndFriends_FinalProject_ENTPROG.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-color:black">
        <div class="container-fluid">


            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                </ul>

                <form action="Movies.html">
                    <input style="font-family: 'Bebas Neue', cursive; font-size: 185%; color:white; background:black; border-color:black" type="submit" value="Movies">
                </form>&nbsp &nbsp &nbsp &nbsp
                <form action="Series.html">
                    <input style="font-family: 'Bebas Neue', cursive; font-size: 185%; color:white; background:black; border-color:black" type="submit" value="Series">
                </form>&nbsp &nbsp &nbsp &nbsp
            </div>
        </div>
    </nav>


    <br>
    <br>



    <br />
    <br />
    <div style="text-align: left; font-family: 'Bebas Neue', cursive; font-size: 185%; color: white; background: #000">  Movies </div>
    <br>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-color:white">
        <div class="container-fluid">



            <div class="collapse navbar-collapse">

            
                <ul class="navbar-nav me-auto">


                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Review" asp-action="Create"><img src="~/Post8.jpg" height="230px" width="140px"></a>
                    </li>
                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp

                    <li class="nav-item">
                        <img src="~/Post7.jpg" height="230px" width="140px">
                    </li>

                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp

                    <li class="nav-item">
                        <img src="~/Post6.jpg" height="230px" width="140px">
                    </li>

                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp

                    <li class="nav-item">
                        <img src="~/Post5.jpg" height="230px" width="140px">
                    </li>

                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp

                    <li class="nav-item">
                        <img src="~/Post4.jpg" height="230px" width="140px">
                    </li>


                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp

                    <li class="nav-item">
                        <img src="~/Post3.jpg" height="230px" width="140px">
                    </li>


                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp

                    <li class="nav-item">
                        <img src="~/Post2.jpg" height="230px" width="140px">
                    </li>

                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp

                    <li class="nav-item">
                        <img src="~/Post.jpg" height="230px" width="140px">
                    </li>
                </ul>


            </div>

        </div>

    </nav>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</body>
}
else
{
    <center>
        <br><br><br />
        <div class="container-fluid" style=" font-family: 'Bebas Neue', cursive; font-size: 600% ">
            <span style="color:red">Welcome </span><span style="color:white"> User</span>

        </div>
    </center>


    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

}


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
