@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<head>

    <meta charset="ISO-8859-1">

    <link href="C:\Users\Ed Temporal\source\repos\MyInventory\wwwroot\lib\bootstrap\dist\css\bootstrap.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <title>Home</title>
</head>
<body>




    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-color: black; border-bottom:1px solid white; padding:0;margin:0">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style=" font-family: 'Bebas Neue', cursive; font-size: 400%;  "><span style="color:red">Netflix & </span><span style="color:white"> Friends</span></a>


            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                </ul>

                <img src="~/Picture1.png" height="12%" width="4%"> &nbsp &nbsp &nbsp &nbsp
                <form action="Settings.html">
                    <input style="font-family: 'Bebas Neue', cursive; font-size: 120%; color:white; background:black; border-color:black" type="submit" value="Settings">
                </form>&nbsp &nbsp

                <form action="Logout.html">
                    <input style="font-family: 'Bebas Neue', cursive; font-size: 120%; color:white; background:black; border-color:black" type="submit" value="Logout">
                </form>


            </div>

        </div>

    </nav>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-color:black">
        <div class="container-fluid">


            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                </ul>

                <form action="Movies.html">
                    <input style="font-family: 'Bebas Neue', cursive; font-size: 185%; color:white; background:black; border-color:black" type="submit" value="Movies">
                </form>&nbsp &nbsp &nbsp &nbsp
                <form action="Series.html">
                    <input style="font-family: 'Bebas Neue', cursive; font-size: 185%; color:white; background:black; border-color:black" type="submit" value="Series">
                </form>&nbsp &nbsp &nbsp &nbsp
                <form action="Documentaries.html">
                    <input style="font-family: 'Bebas Neue', cursive; font-size: 185%; color:white; background:black; border-color:black" type="submit" value="Documentaries">
                </form>&nbsp &nbsp &nbsp &nbsp
                <form action="Friends.html">
                    <input style="font-family: 'Bebas Neue', cursive; font-size: 185%; color:white; background:black; border-color:black" type="submit" value="Friends">
                </form>&nbsp &nbsp &nbsp &nbsp

                <form action="Search.html">
                    <input style="font-family: 'Bebas Neue', cursive; font-size: 185%; color:white; background:black; border-color:black" type="submit" value="Search">
                </form>

            </div>
        </div>
    </nav>


    <br>
    <br>
    <div style="text-align: left; font-family: 'Bebas Neue', cursive; font-size: 185%; color: white; background: #000">  Your Top Picks </div>
    <br>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-color:white">
        <div class="container-fluid">



            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">


                    <li class="nav-item">
                        <img src="~/Post91.jpg" onerror="this.onerror=null;this.src='/Empty.png';" height="230px" width="140px">
                    </li>
                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp

                    <li class="nav-item">
                        <img src="~/Post101.jpg" onerror="this.onerror=null;this.src='/Empty.png';" height="230px" width="140px">
                    </li>

                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp

                    <li class="nav-item">
                        <img src="~/Post111.jpg" onerror="this.onerror=null;this.src='/Empty.png';" height="230px" width="140px">
                    </li>

                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp

                    <li class="nav-item">
                        <img src="~/Post121.jpg" onerror="this.onerror=null;this.src='/Empty.png';" height="230px" width="140px">
                    </li>

                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp

                    <li class="nav-item">
                        <img src="~/Post131.jpg" onerror="this.onerror=null;this.src='/Empty.png';" height="230px" width="140px">
                    </li>







                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp

                    <li class="nav-item">
                        <img src="~/Empty.png" height="230px" width="140px">
                    </li>
                </ul>


            </div>

        </div>

    </nav>

    <br />
    <br />
    <div style="text-align: left; font-family: 'Bebas Neue', cursive; font-size: 185%; color: white; background: #000">  Your Friends Recently Watched </div>
    <br>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="border-color:white">
        <div class="container-fluid">



            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">


                    <li class="nav-item">
                        <img src="~/Post8.jpg" height="230px" width="140px">
                    </li>
                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp

                    <li class="nav-item">
                        <img src="~/Post7.jpg" height="230px" width="140px">
                    </li>

                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp

                    <li class="nav-item">
                        <img src="~/Post6.jpg" height="230px" width="140px">
                    </li>

                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp

                    <li class="nav-item">
                        <img src="~/Post5.jpg" height="230px" width="140px">
                    </li>

                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp

                    <li class="nav-item">
                        <img src="~/Post4.jpg" height="230px" width="140px">
                    </li>


                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp

                    <li class="nav-item">
                        <img src="~/Post3.jpg" height="230px" width="140px">
                    </li>


                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp

                    <li class="nav-item">
                        <img src="~/Post2.jpg" height="230px" width="140px">
                    </li>

                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp

                    <li class="nav-item">
                        <img src="~/Post.jpg" height="230px" width="140px">
                    </li>
                </ul>


            </div>

        </div>

    </nav>
</body>
